#comment-list
  .media
    .media-left
      / リンクをつける
      = link_to 'i-con'
    .media-body
      %h4.media-heading#top-aligned-media
        = comment.user.name
      %p
        = comment.content
      .function-list
        .btn.comment-btn
          = link_to '削除', prototype_comment_path(comment.prototype.id, comment.id), method: :delete, data: {confirm: 'Are you sure?'}
        .btn.comment-btn
          = link_to '編集', edit_prototype_comment_path(comment.prototype.id, comment.id)
